

main {
    outline: 1px solid red;
    font-family: "Roboto Light", sans-serif;
    margin-top: 80px;
}

main h2 {
    font: 32px "Bookman Old Style";
    text-align: center;
    font-weight: normal;
    margin: 0;
    color: #c52d0f;
}

.card {
    font-family: Cambria, sans-serif;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    outline: 1px solid black;
}
