h1 {
    color: #b61010;
    font-family: "Book Antiqua", sans-serif;
    font-size: 48px;

}

header {
    display: flex;
    gap: 18px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    outline: 1px solid black;
}

header input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font: 18px "Roboto Light", sans-serif;
    padding-left: 40px;
}

.wrapper_input img {
    position: absolute;
    left: 5px;
    bottom: 50%;
    transform: translateY(50%);
}

.wrapper_input {
    position: relative;
    flex-grow: 1;
}

header select {
    width: 50px;
    height: 30px;
    font-size: 18px;
    border: none;
    font-family: "Roboto Light", sans-serif;
}

main{

    outline: 1px solid red;
    font-family: "Roboto Light", sans-serif;
    margin-top: 80px;
}

main h2 {
    font: 32px "Bookman Old Style";
    text-align: center;
    font-weight: normal;
    margin: 0;
    color: #c52d0f;
}